* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 27, 37);
  font-family: "Major Mono Display", monospace;
  color: #ffffff;
  cursor: default;
}

img {
  cursor: pointer;
}

#header {
  height: 10vh;
}

.title {
  padding: 1vh 0 0 1vw;
}

.giphy {
  position: absolute;
  top: 1vh;
  right: 1vh;
}

.search-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4vh 0;
}

#search {
  font-size: 1.75rem;
  font-family: "Major Mono Display", monospace;
  width: 50vw;
  background: #ffffffa4;
  border-radius: 8px;
  padding: 0.25rem;
  border: none;
  margin: 0 10px;
}

#search:focus {
  background: #ffffffc5;
  outline: none;
}

#search:hover {
  background: #ffffffc5;
  outline: none;
}

.choice-row {
  display: flex;
  align-items: center;
  padding-top: 2vh;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(68, 192, 201);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(68, 192, 201);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  justify-content: center;
  padding: 13vh 0;
  visibility: hidden;
}

#search-results.show {
  visibility: visible;
}

#search-results img {
  height: 300px;
  width: 300px;
}

.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 20vh;
  width: 500px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.856);
  border-radius: 20px;
  visibility: hidden;
}

.popup.active {
  visibility: visible;
}

.popup i {
  text-align: end;
}

.popup i:hover {
  color: rgb(68, 192, 201);
}

#img-popup {
  padding: 1rem;
  width: 500px;
  height: 500px;
}

@media (max-width: 800px) {
  .title {
    font-size: 1.75rem;
  }

  .giphy {
    font-size: 0.75rem;
  }
  #search {
    font-size: 1.5rem;
    width: 80vw;
  }

  #search-results {
    padding: 12vh 0;
  }

  .popup {
    width: 90%;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 0 0 500vh rgba(0, 0, 0, 0.856);
    border-radius: 20px;
    visibility: hidden;
  }

  #img-popup {
    padding: 1rem;
    width: 100%;
    margin: auto;
  }
}
